body {
	margin: 0px;
	padding: 0px;
	font-family: Poppins, sans-serif;
}

/* Navigation Bar */
nav {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #ddd;
}
ul {
	display: flex;
	margin: 0;
	padding: 0px;
	list-style-type: none;
}
nav ul li:hover {
	background-color: #534485DB;
}
nav ul li ul li:hover {
	background-color: #534485DB;
}
a {
	margin: 0px;
	padding: 0px 16px;
	text-decoration: none;
	font-size: 20px;
	line-height: 2em;
	color: #020202FF;
}
ul li ul {
	display: none;
}
ul li:hover ul {
	display: block;
	position: absolute;
	background-color: #ddd;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-family: 'Poppins', sans-serif;
}

/* Main Page */

main #mainContainer {
	display: grid;
	grid-template-columns: [line1] 20px [line2] 100px [line3] 200px [line4] 20px [line5];
	grid-template-rows: [row1] 20px [row2] 100px [row3] 20px [row4];
}

